
body {
    background-color: rgb(10, 10, 10);
    margin: 0px;
    padding: 0px;
}

#container {
    width: fit-content;
    margin: auto;
    padding: 1em;
}

.wordslot {
    display: flex;
    background-color: rgb(10, 10, 10);
}

.letterslot {
    background-color: rgb(40, 40, 40);
    font-size: 4em;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    margin: 0.05em;
    user-select: none;
    width: 1em;
    text-align: center;
    color: rgb(200, 200, 200);
    font-family: monospace;
    border: 1px solid rgb(255, 255, 255, 0);
    transform-style: preserve-3d;
}

.emptyletterslot {
    border: 1px solid rgb(200, 200, 200);
    background-color: rgba(255, 255, 255, 0);
    color:rgba(255, 255, 255, 0);
}

.correctletterslot {
    animation: 0.75s linear 0s 1 normal forwards running showcorrectletterslot !important; 
}

.somewhatcorrectletterslot {
    animation: 0.75s linear 0s 1 normal forwards running showsomewhatcorrectletterslot !important;
}

.incorrectletterslot {
    animation: 0.75s linear 0s 1 normal forwards running showincorrectletterslot !important;
}

@keyframes showcorrectletterslot {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
        background-color: rgba(50, 150, 50);
    }
}

@keyframes showsomewhatcorrectletterslot {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
        background-color: rgba(150, 150, 50);
    }
}

@keyframes showincorrectletterslot {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

#keyboard {
    width: fit-content;
    margin: auto;
}

.keyboardrow {
    display: flex;
    justify-content: center;
}

.keyboardkey {
    background-color: rgb(200, 200, 200);
    font-family: monospace;
    font-size: 1.5em;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 0.5px;
    border: 1px solid black;
    border-radius: 4px;
    user-select: none;
    text-align: center;
    flex-grow: 1;
}

.incorrectkeyboardkey {
    background-color: rgb(80, 80, 80);
}

.correctkeyboardkey {
    background-color: rgba(50, 150, 50);
}

.somewhatcorrectkeyboardkey {
    background-color: rgba(150, 150, 50);
}

@media (hover: hover) {
    .keyboardkey:hover {
        animation: 0.2s linear 0s 1 normal forwards running keyhover;
    }

    .dialogbutton:hover {
        background-color: rgb(30, 110, 30);
    }
}


@media (min-width: 600px) {
    .keyboardkey {
        font-size: 2em; 
    }
}

.specialkeyboardkey {
    flex-grow: 1.5;
    font-size: 1em;
}

@keyframes bounce {
    0% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes keyhover {
    0% {
        background-color: rgb(180, 180, 180);
    }
    100% {
        background-color: rgb(145, 145, 145);
    }
}

#dialogbackground {
    background-color: rgba(50, 50, 50, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
}

#dialogbox {
    background-color: rgba(200, 200, 200);
    position: absolute;
    width: fit-content;
    height: fit-content;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    animation: bounce 0.2s;
    display: none;
    user-select: none;
    font-family: monospace;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

#dialogcontent {
    text-align: center;
    padding: 1em;
    font-size: 4em;
}

.dialogbutton {
    text-align: center;
    background-color: rgb(50, 150, 50);
    width: fit-content;
    padding: 0.5em;
    margin: 2px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 3em;
    display: inline-block;
}


#fourthrow {
    margin-top: 2em;
}


#info {
    text-align: center;
    margin: 1em;
}

.infos {
    color: rgb(200, 200, 200);
    font-size: 1em;
    margin-bottom: 0.45em;
}