
* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    background-color: rgb(8, 8, 8);
}

body::-webkit-scrollbar {
    background-color: rgb(210, 210, 210);
}

body::-webkit-scrollbar-thumb {
    background-color:rgb(10, 150, 10);
    border: 2px solid rgb(10, 50, 10);
    border-radius: 20px;
}

#canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -10;
}

a {
    color: rgb(10, 150, 10);
    font-family: "Consolas", monospace, auto;
    text-decoration: none;
}

.main-text {
    position: relative;
    background-color: rgba(20, 20, 20, 0.8);
    color: rgb(210, 210, 210);
    padding: 2vh 2vw 2vh 2vw;
    width: fit-content;
    font-family: "Consolas", monospace, auto;
    margin: auto;
    border-radius: 20px;
}

.main-text > .ch-title {
    font-size: 9vw;
}

@media screen and (min-width: 800px) {
    .main-text > .ch-title {
        font-size: 4em;
    }
}

.main-text > .ch-description {
    font-size: 1em;
}

.description-text {
    position: relative;
    background-color: rgba(20, 20, 20, 0.8);
    color: rgb(210, 210, 210);
    padding: 2vh 2vw 2vh 2vw;
    text-align: center;
    font-family: "Consolas", monospace, auto;
    margin: auto;
    border-radius: 20px;
    margin-top: 75vh;
    margin-bottom: 25vh;
}

.description-text > .ch-title {
    font-size: 1.5em;
}

.description-text > .ch-description {
    font-size: 1em;
}

.description-text > hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

.description-text > .ch-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em;
    justify-content: center;
}

.description-text > .ch-list > a > .ch-list-items {
    border-radius: 10px;
    width: min-content;
    padding: 0.5em 0.75em 0.5em 0.75em;
    background-color: rgb(20, 20, 20);
    color: rgb(210, 210, 210);
    border: 1px solid rgb(10, 150, 10);
    margin: 0.25em;
    white-space: nowrap;
}

.description-text > .ch-list > a > .ch-list-items:hover {
    background-color: rgb(50, 50, 50);
}


.topbar {
    position: fixed;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.9);
    top: 0px;
    left: 0px;
    border-top: 2px solid rgb(210, 210, 210);
    border-bottom: 2px solid rgb(210, 210, 210);
    display: flex;
    align-items: baseline;
    z-index: 100;
}

.topbar-items {
    border: 1px solid rgb(210, 210, 210);
    padding: 2em 2em 2em 2em;
    color: rgb(210, 210, 210);
    font-weight: bold;
}

.topbar-items:hover {
    background-color: rgba(50, 50, 50, 0.9);
}

.projects {
    position: relative;
    top: 50vh;
    padding: 2em 2em 2em 2em;
}

.project {
    height: fit-content;
    background-color: rgba(20, 20, 20, 0.8);
    color: rgb(210, 210, 210);
    font-family: "Consolas", monospace, auto;
    border-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.project:hover {
    background-color: rgba(50, 50, 50, 0.8);
}

.project-image {
    width: 40%;
}

.project-info {
    width: 50%;
    padding: 1em 1em 1em 1em;
    box-sizing: border-box;
    margin-right: auto;
}

.project-info > .ch-title {
    font-size: 1.5em;
    font-weight: bold;
}

.project-info > .ch-description {
    font-size: 0.9em;
}

@media screen and (max-width: 700px) {
    .project {
        flex-direction: column;
    }

    .project-image {
        width: 100%;
    }
    
    .project-info {
        width: 100%;
    }
}

.center-select {
    position: relative;
    font-size: 1em;
    color: rgb(210, 210, 210);
    font-family: "Consolas", monospace, auto;
    background-color: rgb(10, 10, 10);
    display: block;
    margin: auto;
    margin-bottom: 3em;
}

@keyframes hide-topbar {
    0% {
        top: 0px;
    }
    100% {
        top: -100px;
    }
}

@keyframes show-topbar {
    0% {
        top: -100px;
    }
    100% {
        top: -0px;
    }
}



#scrolldown-hint {
    color: rgb(10, 150, 10);
    font-size: 1em;
    font-family: "Consolas", monospace, auto;
    font-weight: bold;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    position: relative;
    top: 65vh;
    animation: 1s linear 0s infinite normal none running blinking-scrolldown-hint;
}

@keyframes hide-onscroll-anim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes blinking-scrolldown-hint {
    0% {
        color:rgb(10, 150, 10);
    }
    50% {
        color: rgb(210, 210, 210)
    }
    100% {
        color: rgb(10, 150, 10);
    }
}


.header {
    margin-top: 25vh;
    margin-bottom: 25vh;
}

#data {
    display: none;
}