body {
    background-color: rgb(15, 15, 15);
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
}

#content {
    flex: 3 0 0;
    padding: 2.5% 4% 0 4%;
    overflow: auto;
    overflow-x: hidden;
}

#user_profile {
    text-align: center;
}

#user_image {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    margin-bottom: -2.5em;
    margin-right: 1em;
}

#username {
    font-size: 4em;
    display: inline;
    line-height: 2;
}

#bio {
    font-size: 1.5em;
}