html, body {
    width: 99%;
    height: 99%;
}

#parent {
    width: 75%;
    height: 75%;
    background-color: gray;
    margin: auto;
    overflow: auto;
    padding: 1rem;
}

#parent::-webkit-scrollbar {
    width: 1rem;
}

#parent::-webkit-scrollbar-thumb {
    background: rgb(27, 27, 27);
    border-radius: 5px;
}

.message {
    width: fit-content;
    max-width: 50%;
    height: fit-content;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 1.3rem;
    overflow-wrap: break-word;

    background-color:rgb(0, 106, 255);
    color: rgb(174, 233, 255);

    box-shadow: 3px 2px 2px rgb(0, 51, 123);
}

.message-sent {
    margin-left: auto;
    margin-inline-end: 1rem;
}

.message-recieved {
    margin-right: auto;
    margin-inline-start: 1rem;
}

#bottom-bar {
    width: 75%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gray;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.bottom-bar-icon {
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.25rem;
    image-rendering: pixelated;
    border-radius: 10px;
}

.bottom-bar-icon:hover {
    cursor: pointer;
    background-color: gainsboro;
}

#text-input {
    width: 80%;
    max-height: 4rem;
    resize: none;
    background-color: gainsboro;
    font-size: 1rem;
}